.page {
        
}

.page-inner {
    
}



.page .page-title-container {
    margin: 18px;

}

.page .page-title-icon-container {
    display: inline-block; 
    padding-right: 7px;
    font-size: 36px;
    top: -6px;
    position: relative;
    border-right: 1px solid orange;
    margin-right: 13px;
    color: #6ba6bf; 
}

.page .page-title-text-container {
    display: inline-block;

}

.page h1.page-title {
    vertical-align: middle;
    font-size: 24px;
    color: #13496a;
    font-family: Roboto;
    font-weight: 300;
    line-height: 26.4px;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.page h2.page-sub-title {
    color: #6ba6bf;
    text-transform: uppercase;
    font-size: 13px;
    line-height: 13px;
    font-weight: normal;
    margin: 4px 0;
    padding: 0;
    box-sizing: border-box;

}