.circle-button-top {
    min-width: 24px !important;
    width: 44px !important;
    line-height: 24px !important;
    height: 24px !important;
    border-radius: 50%;
    text-align: center !important;
    padding: 0 !important;
    background: none !important;
    border: 0 !important;
}

.circle-button-top:hover {
    color: white!important;
}

.popover {
    z-index: 99999 !important;
    border-radius: 1px;
    border: none;
    background: white;
    box-shadow: 0 2px 3px -1px rgba(0,0,0,.4);
    font-family: roboto;
}

.popover.bs-tether-element-attached-top .popover-arrow::after, 
.popover.popover-bottom .popover-arrow::after {
    margin-left: 108px;
}

.popover.bs-tether-element-attached-top .popover-arrow, 
.popover.popover-bottom .popover-arrow{
    border-bottom:  none !important;
}

.popover.bs-tether-element-attached-top {
    left: -70px !important;
}

.popover-arrow::after {
    border-width: 5px;
    margin-top: 5px;
}

.popover-title {
    background: white;
    font-size: 1em;
    font-weight: normal;
    border: none;
}

ul.lista-user-profile {
    border-left: 3px solid #dbe7f1;
    margin-top: 6px;
    margin-bottom: 15px;
    padding-left: 12px;
    position: relative;
    list-style: none;
    margin: 0;
    margin-bottom: 20px;
}

ul.lista-user-profile li .mdi {
    padding-right: 10px;
}

ul.lista-user-profile li {
    color: #13496a; 
    margin-bottom: 3px;
}