.list-bordered {
    margin-top: 32px;
    padding: 0 16px !important;
    
}

.list-bordered span[type=button] {
   
   
    margin: 0 8px !important;
    padding: 0 2px !important;
}

.list-bordered span[type=button] > div > div {
    padding: 12px 16px 12px 72px !important;
}

.list-bordered span[type=button] > div > div > .mdi {
        margin-top: 4px !important;
}

 .header {
     font-size: 24px !important;
     font-weight: 400 !important;
     color: #737347 !important;
     margin-top: 8px;
     width: auto !important;
     margin-left: 8px !important;
     margin-right: 8px !important;
     padding-left: 4px !important;
     border-bottom: 1px solid #edf3f8 !important;
 }

 

 .header span {
     margin-left: 8px;
 }