.siap-logo img {
    height: 25px;
    top: 1px;
    position: relative;    
}

.siap-logo h1 {
    display: inline-block;
    font-size: 31px;
    line-height: 10px;
    position: relative;
    top: 6px;
    left: 10px;
    font-weight: lighter;
}